.card-block .row {
  display: flex;       
  flex-wrap: wrap;     
  gap: 20px;          
}

.card-block .row > .col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-bottom: 20px;   
}

.card-block .row img {
  width: 100%;       
  height: 200px;        
  object-fit: cover;    
}

.card-block .row h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card-block .row p {
  text-align: center;
  margin: 0;
}
