.project {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > [class*="col-"] {
  display: flex;
}